/* Hero Section Styling */
.hero-section {
  height: 100vh;
  padding: 8rem 2rem;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--bg-hero);
  color: var(--text-hero);
}


.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); 
  z-index: -1;
}

.hero-content {
  text-align: center;
  padding: 0rem 0 0 0;
}

.hero-content > * {
  margin-bottom: 3rem;
}

/* Hero Text Content Styling */
.hero-content h1 {
  font-size: 2.8rem;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin: 3rem 6rem 5rem 6rem;
}

.hero-content h2 {
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 1.6rem 8.5rem;
}


.hero-content h1,
.hero-content h2{
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


/* Hero Text Content Styling */
.hero-content h1 {
  opacity: 0;
  transform: translateX(-50px); /* Start from right */
  transition: opacity 0.5s ease, transform 2s ease;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-content h2 {
  opacity: 0;
  transform: translateX(50px); /* Start from left */
  transition: opacity 0.5s ease, transform 2s ease;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.hero-content h1.visible,
.hero-content h2.visible{
  opacity: 1;
  transform: translateX(0); /* Move to original position */
}

/* Hero Section CTA buttons Styling */
.hero-btns-div {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.hero-btn {
  display: inline-block;
  background-color: #287371;  
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-decoration: none;
  width: 80%;
  max-width: 10rem;
 }

.hero-btn:hover {
  background-color: #264653;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.hero-btn i {
  margin-right: 8px;
}

/* Dark Mode Styling */
.dark .hero-btn {
  background-color: #7b4c9f;  
  transition: background-color 0.3s ease;
}

.dark .hero-btn:hover {
  background: #5f3f8a;
}

/* Mobile adjustment for hero section */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
    margin: 0rem 0rem;
  }

  .hero-content h2 {
    font-size: 1.4rem;
    margin: 2rem 1rem;
  }

  .hero-btns-div {
    margin-top:1.2rem;
    flex-direction: center;
    gap: 1.5rem;
    align-items: center;
  }

  .hero-btn {
    padding: 0.6rem 1.2rem;
    font-size: 1rem;   
}

.hero-content > * {
  margin-bottom: 2.5rem;
}
}