.topic-nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1.5rem;
    padding: 0.6rem 1.25rem;
    justify-content: center;
    background-color: var(--bg-header-footer);
    position: sticky;
    z-index: 999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    scroll-behavior: smooth;
    margin: 0;
    top:0;
    
  }
  
  .topic-nav-item {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    position: relative;
    padding: 0.5rem 0;
    white-space: nowrap;
  }
  
  .topic-nav-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
  }
  
  .topic-nav-item:hover::after,
  .topic-nav-item.active::after {
    transform: scaleX(1);
  }
  
  /* Dark mode */
  .dark .topic-nav {
    background-color: rgba(95, 63, 138);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .dark .topic-nav-item {
    color: white;
  }

  /* Scrollbar styling */
.topic-nav::-webkit-scrollbar {
    height: 6px;
  }
  
  .topic-nav::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .topic-nav::-webkit-scrollbar-thumb {
    background-color: rgba(180, 180, 180, 0.5); /* light mode default */
    border-radius: 10px;
  }
  
  /* Dark mode scrollbar color */
  .dark .topic-nav::-webkit-scrollbar-thumb {
    background-color: #7b4c9f;
  }
  
  .dark .topic-nav::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.05);
  }
  
  

  /* Mobile styling: for screens smaller than 768px */
@media (max-width: 768px) {
    .topic-nav-item{
        font-size: 1rem;
    } 
}