.section {
  padding: 5rem 2rem;
  text-align: center;
  position: relative;
  background-color: white;
  color: black; 
}

.dark .section {
  background-color: black;
  color:white;
}

.section-title {
  font-size: 2.25rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.topic-buttons {
  font-family: "Poppins", sans-serif;
  display: flex;     
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  max-width: 60rem;
  width: 100%;
  margin-top: 3rem;
  text-wrap:nowrap;
}

.line1,
.line2 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.topic {
  background: #2a9d8f;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  font-size: 1.1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

.topic:hover {
  background: #264653; /* Hover state with darker teal */
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.dark .topic {
  background-color: #7b4c9f; /* Dark mode background */
}

.dark .topic:hover {
  background-color: #5f3f8a; /* Dark mode hover state */
}

/* Mobile adjustment */
@media (max-width: 768px) {
  .section-title {
    font-size: 1.8rem;
  }

  .line1,
  .line2 {
    flex-direction: column;
    align-items: center;
  }

  .topic-buttons {
    gap: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .topic {
    font-size: 1rem;
    padding: 1rem;
    width: 120%;
    max-width: 19rem;
  }
}


