.skills-section {
  margin: 1.25rem 0;
  overflow: hidden; /* Keeps overflow hidden */
}

.skills-section.software-skills {
  margin-bottom: 1.88rem; /* Space below Software Skills section */
}

.skills-container {
  width: 80%;
  margin: 0 auto; /* Centers the container */
  overflow: hidden;
  border-radius: 12px;
}

.skills-wrapper {
  display: flex;
  gap: 0.94rem;
  animation: scrollSkills 50s linear infinite;
  white-space: nowrap;
  position: relative;
  width: max-content; /* Ensures that the wrapper grows based on content */
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.3rem;
  color: white;
  background: linear-gradient(45deg, #287371, #1e5f5e);
  padding: 0.625rem 1.25rem;
  border-radius: 0.75rem;
  min-width: 7rem;
  text-align: center;
}

.skill-item:hover {
  background: #264653;
}
.skills-section h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Dark Mode Styling */
body.dark .skill-item {
  background: linear-gradient(45deg, #7b4c9f, #9c66c1);
}

body.dark .skill-item:hover {
  background: rgba(95, 63, 138); 
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .skills-section h2 {
    font-size: 1.1rem; /* Adjust title size */
    margin-bottom: 1rem;
  }

  .skill-item i {
    font-size: 1.1rem; /* Reduce icon size */
  }

  .skill-item {
    font-size: 1.1rem; /* Adjust font size of text */
    min-width: 6rem;
    padding: 0.5rem 1rem;
  }
}
