/* FeaturedContent.css */

.featured-content {
    padding: 2rem;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .featured-content.fade-in {
    opacity: 1;
  }
  
  .content-grid {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  /* Section title styling */
  .featured-text  {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  /* Title */
  .featured-text h2 {
    font-size: 2.25rem;
    margin-bottom: 0rem;
  }
  
  /* Shared styles for both teaser blocks */
  .featured-teaser {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 75rem;
    margin: 0 auto;
    width:100%
  }

  /* Alternate layout for second teaser (image right) */
  .featured-teaser:nth-child(2) {
    flex-direction: row-reverse;
  }
  
  /* Image styling */
  .featured-teaser img {
    max-width: 25rem;
    width: 100%;
    height: auto;
    border-radius: 1rem;
    flex: 1;
  }
  
  /* Text block layout */
  .featured-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    flex: 1;
    max-width: 37.5rem;
  }
  
/* Link buttons */
.featured-link {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.75rem 1.5rem;
    width: 80%;
    max-width: 10rem;
    font-size: 1.15em;
    height: 1.5rem;
    font-weight: bold;
    background-color: #287371;
    color: #fff;
    text-decoration: none;
    border-radius: 3rem;
    transition: background-color 0.3s ease;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
  
.featured-link:hover {
    background-color:#264653;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease; 
}

/* Dark mode */
.dark .featured-link {
    background-color: #7b4c9f;
    transition: background-color 0.3s ease;
}

.dark .featured-link:hover {
    background-color: #5f3f8a ;
}

/* Mobile styling: for screens smaller than 768px */
@media (max-width: 768px) {
    .featured-text h2 {
        font-size: 1.8rem;
    }
    .featured-text p {
        font-size: 1rem;
    }
    .featured-teaser img {
        max-width: 100%;
        height:auto;
    }
    .featured-text {
        gap:0.8rem;
    }

    .featured-link {
      padding: 0.6rem 1.2rem;
      font-size: 1.1rem; ;
      cursor: pointer;
      max-width: 9rem;
  }
}    