.hero-section-blog {
  min-height: 60vh;
  padding: 6rem 2rem;
  color: #fff;
  text-align: center;
  background: linear-gradient(45deg, #264653, #2f5f6d); /* Same gradient as home */
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  justify-content: center;  
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

/* Keyframes for gradient animation */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-section-blog::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); 
  z-index: -1;
}

/* Dark Mode Background */
body.dark .hero-section-blog {
  background: linear-gradient(45deg, rgb(20, 20, 20), rgba(40, 40, 40, 0.8)); /* dark mode gradient */
  animation: gradientAnimation 10s ease infinite;
}

.hero-title-blog {
  font-size: 2.8rem;
  font-family: "Poppins", sans-serif;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  text-transform: capitalize;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.hero-subtitle-blog {
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  max-width: 55rem; 
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.cta-buttons-blog {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3rem;
}

.cta-button-blog {
  display: inline-block; 
  background-color: #2a9d8f;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 3rem;
  font-weight: bold;
}

.cta-button-blog:hover {
  background-color: #264653;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.dark .cta-button-blog {
  background-color: #7b4c9f;
}

.dark .cta-button-blog:hover {
  background-color: #5f3f8a;
}

a.cta-button-blog.community {
  text-decoration: none;
  display: inline-block;
}

/* Mobile adjustment for hero section */
@media (max-width: 768px) {
  .hero-title-blog {
    font-size: 2.2rem;
  }

  .hero-subtitle-blog {
    font-size: 1.4rem;
  }

  .cta-buttons-blog {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .cta-button-blog, 
  .cta-button-blog.community {
    width: 100%;
    max-width: 19rem;
    font-size: 1rem;
    min-width: 19rem;  
  }
}