.skills-section {
  margin: 20px 0;
  overflow: hidden; /* Keeps overflow hidden */
}

.skills-section.software-skills {
  margin-bottom: 30px; /* Space below Software Skills section */
}

.skills-container {
  width: 80%;
  margin: 0 auto; /* Centers the container */
  overflow: hidden;
  border-radius: 12px;
}

.skills-wrapper {
  display: flex;
  gap: 15px;
  animation: scrollSkills 50s linear infinite;
  white-space: nowrap;
  position: relative;
  width: max-content; /* Ensures that the wrapper grows based on content */
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  color: white;
  background: linear-gradient(45deg, #007bff, #0056b3); /* Gradient from blue to darker blue */
  padding: 10px 20px;
  border-radius: 12px;
  min-width: 160px;
  text-align: center;
}

.skills-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  text-align: center;
}

@keyframes scrollSkills {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Dark Mode Styling */
body.dark .skill-item {
background: linear-gradient(45deg, #9b59b6, #8e44ad); /* Purple gradient */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .skills-section h2 {
    font-size: 1.5rem; /* Adjust title size */
    margin-bottom: 1rem;
  }

  .skill-item i {
    font-size: 1.5rem; /* Reduce icon size */
  }

  .skill-item {
    font-size: 1.9rem; /* Adjust font size of text */
    min-width: 8.75rem;
    padding: 0.5rem 1rem;
  }

}