/* Global styles */
body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Takes up full viewport height */
  overflow-x: hidden; /* Prevent  horizontal scrolling */
  font-family: Arial, sans-serif;
}

/* light and dark mode styles */
body.dark {
  background-color: rgb(20, 20, 20);
  color: white;
}

body.light {
  background-color: #ffffff;
  color: black;
}

/* This makes the layout fill the entire screen and pushes footer down */
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1; /* This makes the middle area take up remaining space */
}

