/* Global styles */
body {
  margin: 0; /* Remove default margin */
  height: 100vh; /* Takes up full viewport height */
  overflow-x: hidden; /* Prevent  horizontal scrolling */
  font-family: Arial, sans-serif;
}

/* light and dark mode styles */
body.dark {
  background-color: rgb(16, 15, 15);
  color: white;
}

body.light {
  background-color: #ffffff;
  color: black;
}

/* Mobile styling: for screens smaller than 768px */
@media (max-width: 768px) {
  .main-content {
    padding-top: 60px; /* Adjust based on the height of your fixed header */
  }
}
