:root {
  --bg-main: #ffffff;
  --text-main: #000000;
  --bg-hero: #2c4e5d;
  --text-hero: #ffffff;
  --bg-header-footer: #264653;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}

body.dark {
  --bg-main: black;
  --text-main: #ffffff;
  --bg-hero: #2e234f;
  --text-hero: #ffffff;
  --bg-header-footer: rgba(95, 63, 138);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}
