/* Hero Section Styling */
.hero-section {
  position: relative;
  width: 100%; /* Full width */
  padding-bottom: 56.25%; /* 16:9 aspect ratio (9/16 = 0.5625 or 56.25%) */
  text-align: center;
  background-image: url("/pawel-czerwinski-bX9B9c-YasY-unsplash.jpg");
  background-size: cover; /* Ensure the image covers the section */
  background-position: center; /* Center the image */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
  color: white; /* Make text white by default for contrast */
}

/* Dark Mode Background */
body.dark .hero-section {
  background-image: url('/pexels-anniroenkae-3109807.jpg');
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 1); /* Dark overlay */
  z-index: -1; /* Place the overlay behind the content */
}

/* Hero Text Content Styling */
.hero-content {
  max-width: 700px;
  margin-bottom: 1.5rem; /* Adds space from the top */
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  font-family:"Poppins";
  letter-spacing: 2px; /* Added spacing for a more modern look */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Dark shadow for contrast */
  margin-bottom:0;
}

.hero-content h2 {
  font-size: 2rem;
  font-weight: 700;
}

.hero-content p {
  font-size: 1.3rem;
  font-weight: 500;
}

.hero-content h1,
.hero-content h2,
.hero-content p {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Dark shadow for contrast */
}

/* Hero Section CTA buttons Styling */
.hero-btns-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; /* Space between buttons */
  margin-top: 1.5rem;
}

.hero-btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 3rem;
  background: linear-gradient(
    45deg,
    #007bff,
    #0056b3
  ); /* Gradient from blue to darker blue */
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.5s ease-in-out, background-color 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Subtle shadow */
}

.hero-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: scale(1.1) skew(10deg, 5deg);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4); /* Slightly stronger shadow on hover */
}

.hero-btn i {
  margin-right: 8px; /* Space between icon and text */
}

/* Dark Mode Styling */
body.dark .hero-btn {
  background: linear-gradient(45deg, #9b59b6, #8e44ad); /* Purple gradient */
}
